@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* Primary colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  color: var(--grayish-blue);
  font-weight: 400;
}

.bold {
  font-weight: 600;
  color: var(--very-dark-blue);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}
main {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 30rem;
  gap: 3rem;
  padding: 50px 50px;
}
.card {
  position: relative;
  display: grid;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
  min-height: 200px;
}
.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.3rem;
  background: linear-gradient(to bottom, var(--blue), white);
  z-index: -1;
  border-radius: 0 0 20px 20px;
}
.card:nth-child(1) {
  border-top: 3px solid var(--cyan);
}

.card:nth-child(2) {
  border-top: 3px solid var(--red);
}

.card:nth-child(3) {
  border-top: 3px solid var(--orange);
}

.card:nth-child(4) {
  border-top: 3px solid var(--blue);
}
.card img {
  justify-self: end;
}
@media (min-width: 1000px) {
  .service-attributes {
    font-size: 2rem;
    font-weight: 200;
  }
  .bold {
    font-weight: 600;
    color: var(--very-dark-blue);
  }
  .service-description {
    margin-top: 1rem;
  }
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: unset;
    padding-top: 0;
  }
  .card:nth-child(1) {
    border-top: 3px solid var(--cyan);
    grid-row: 2 / 4;
    align-self: center;
  }

  .card:nth-child(2) {
    border-top: 3px solid var(--red);
    grid-row: 2 / 3;
  }

  .card:nth-child(3) {
    border-top: 3px solid var(--orange);
    grid-row: 3 / 4;
  }

  .card:nth-child(4) {
    border-top: 3px solid var(--blue);
    grid-row: 2 / 4;
    align-self: center;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
